
.App .app__content{
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;

  background:  #eaf6f6;
  border: 2px solid #bae8e8;
  border-radius: 10px;
}
.App .city__info{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.App  .city{
  padding-top: 15px;
  color: #e46161;
}
.App ul{
  padding: 0;
  margin: 0;
  color: #fda403;
}
.App li{
  list-style: none;
}
.App span{
  font-size: 60px;
  color: #e46161;
}
.App sup{
  font-size: 30px;
}