.WeatherForecastDay{
   margin-top: 20px;
   padding: 0 15px;
}
.WeatherForecastDay .day{
   color: #53AEFF;
   font-size: 18px;
   font-weight: 700;
}
.WeatherForecastDay  .max,
.WeatherForecastDay  .min{
   color: #53AEFF;
   font-weight: 800;
}
.WeatherForecastDay  .min{
   margin-left: 5px;
   opacity: 0.6;
}